$black: #3b434e;
$gray-light: #ebebeb;
$white: white;
$primary: #7653fc;
$primary-hover: #532cf1;
$red: #fc836d;
$green: #1dc37e;
$green-light: #c8f8e4;
$font-family: 'Noto Sans', sans-serif; // Сделать по новому в 13 версии
